{% extends 'base.html' %}
{% block title %}View All Users{% endblock %}
{% block content %}
<form action="/delete" method="POST">
    {% for item in values %}
       <p> <input type="radio" name="option" id={{item.name}} value={{item.name}}> Name: {{item.name}}, Email: {{item.email}}, Phone number: {{item.phone}}, Address: {{item.address}}</p>
    {% endfor %}

    {% if (values is defined) and values %}
        <p><input type=submit value=delete></p>
    {% else %}
        There are not Users
    {% endif %}
</form>
{% endblock %}